<div class='row'>
    <h2>Welcome to</h2>
    <h1 class='specialFont'>My Mobi Linq</h1>
</div>
<div class='row'>
    <p><span class='specialFont'>My Mobi Linq</span> is a web based app that allows super easy connection and linking to your old tablets or phone.</p>
    <hr>
    <p>Secondly, you can reuse your old phone and tablet</p>
    <hr>
    <p></p>
    <hr>
</div>
<hr>
<hr>